
/* Basic */

	body {
		background-image: url("https://3.bp.blogspot.com/-LtHKEbfM-eE/V3fFdaC_QBI/AAAAAAAAB0E/Fk14UwLfn-Y995OFokkbVlwwxpgSNRggQCLcB/s320/bg.jpg");
		background-size: cover;
		-ms-behavior: url("assets/js/ie/backgroundsize.min.htc");
	}

/* Section/Article */

	section > .last-child, section.last-child, article > .last-child, article.last-child {
		margin-bottom: 0;
	}

/* Nav */

	#nav a span {
		display: none !important;
	}

	#nav a:before {
		font-size: 1.75em;
	}
